.chatView
  .header
    .header__groups
      .header__groups__groupName
        = @group.name
      .header__groups__memberNames
        .header__groups__memberNames__memberTitle Member :
        - @group.users.each do |user|
          .header__groups__memberNames__memberName
            = user.name
    =link_to "Edit", "#", class: "header__btnEdit"

  .main
    .main__messages
      = render @messages

  .forms
    = form_for [@group, @message] do |f|
      .forms__inputForm
        .forms__inputForm__textForm
          = f.text_field :body, placeholder: "type a message", class: "forms__inputForm__textForm__text"
          = f.label :image, class: "forms__inputForm__textForm__icon" do
            = icon("far", "image", class: "image")
            = f.file_field :image, class: "hidden"
        = f.submit "Send", class: "forms__inputForm__btnSend"

