.chatView
  .header
    .header__groups
      .header__groups__groupName testgroup
      .header__groups__memberNames
        .header__groups__memberNames__memberTitle Member :
        .header__groups__memberNames__memberName name1
        .header__groups__memberNames__memberName name2
    =link_to "Edit", "#", class: "header__btnEdit"

  .main
    .main__messages
      - @messages.each do |message|
        .main__messages__message
          .main__messages__message__heading
            .main__messages__message__heading__name
              = message.user.name
            .main__messages__message__heading__date
              = message.created_at.strftime("%Y/%m/%d/(%a) %T")
          .main__messages__message__content
          - if message.body.present?
            .main__messages__message__text
              = message.body
          - if message.image.present?
            .main__messages__message__image
              = image_tag message.image

  .forms
    = form_for [@group, @message] do |f|
      .forms__inputForm
        .forms__inputForm__textForm
          = f.text_field :body, placeholder: "type a message", class: "forms__inputForm__textForm__text"
          = f.label :image, class: "forms__inputForm__textForm__icon" do
            = icon("far", "image", class: "image")
            = f.file_field :image, class: "hidden"
        = f.submit "Send", class: "forms__inputForm__btnSend"

