.side_bar
  .users
    .users__box
      %p.users__box__name
        = current_user.name
      .users__box__icons
        =link_to new_group_path, class: "users__box__icons edit" do
          %span<>
            = icon("fa", "edit")
        =link_to edit_user_path(current_user), class: "users__box__icons cog" do
          %span<>
            = icon("fas", "cog")
  .groups
    = @groups.each do |group|
      .groups__group
        = group.name
        %p.groups__group__currentMessage hello

